$online-indicators: (
  #45a366: #4cc38a,
  #ffc04e: #e6c36a,
  #da3e44: #e06c75,
  #84858d: #6c7086,
  #9147ff: #b4befe,
);

@each $color, $var in $online-indicators {
  svg [fill="#{$color}"],
  svg[fill="#{$color}"] {
    fill: #{$var};
  }

  div[style="background-color: rgb(#{red($color)}, #{green($color)}, #{blue($color)});"] {
    background-color: #{$var} !important;
    filter: brightness(0.9);
  }
}

div[class^="newMessagesBar_"] {
  --white: #cdd6f4;
  --control-secondary-background-default: #313244;
  --control-secondary-background-hover: #45475a;
}

span[class^="folderGroupBackground_"] {
  --background-mod-subtle: #181825 !important;
}

label[class^="container_"] > div[data-mana-component="switch"] {
  background-color: #313244 !important;
  border: 1px solid #45475a !important;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: #45475a !important;
  }

  > svg > rect {
    fill: #cdd6f4;
  }

  &:has(+ span > input:checked) {
    background-color: #4cc38a !important;

    &:hover {
      background-color: #3aa876 !important;
    }

    > svg > rect {
      fill: #11111b;
    }
  }
}

div.vc-switch-container {
  --primary-400: #313244;

  svg.vc-switch-slider > rect {
    fill: #cdd6f4;
  }

  &.vc-switch-checked > svg.vc-switch-slider > rect {
    fill: #11111b;
  }
}

div[class^="message_"][class*="isSystemMessage_"] div[class^="icon_"] {
  &[style*="/assets/61ccab047dad737a.svg"] {
    @include recolor(#4cc38a);
  }

  &[style*="/assets/6f076a64de25de4b.svg"] {
    @include recolor(#6c7086);
  }

  &[style*="/assets/53e42368b1409f1a.svg"] {
    @include recolor(#e06c75);
  }

  &[style*="/assets/8b9de960da063cb9.svg"] {
    @include recolor(#4cc38a);
  }
}

img[class*="maskIcon_"][src*="/assets/c8ae30e56eb87fdf.svg"] {
  @include recolor(#cdd6f4);
}

i[class^="check_"] {
  @include recolor(#b4befe);
}

div[class^="overlay_"][class*="darkThemeGradient_"] {
  background: #11111b !important;
}

div[class^="textContentFooter_"] {
  background: #181825 !important;

  [class*="tagPill_"] {
    background-color: #313244;
  }
}

div[class^="newBadge_"][class*="textBadge_"][style="background-color: var(--brand-260);"],
span[class*="botTagOP_"] {
  background-color: #4cc38a !important;
  color: #11111b;
}

div[class^="quickSelectPopoutOption_"]:hover[role="option"] {
  background-color: #313244;
}

[class*="greenGlow_"] {
  background: rgba(76, 195, 138, 0.15);
}

[class*="redGlow_"] {
  background: rgba(224, 108, 117, 0.15);
}

div[class*="container_"]:focus-within:has(> div[class^="inner_"] > input),
[class*="input_"][type="text"]:not([readOnly]):focus {
  --text-link: #b4befe;
  border: 1px solid #4cc38a;
}

div[class^="toast_"][data-type="success"] {
  --status-positive: #4cc38a;
}

div[class^="toast_"][data-type="failure"] {
  --icon-feedback-critical: #e06c75;
}

div[class*="button_"][class*="dangerous_"] {
  color: #e06c75;
}