& {
  --brand-100: #{lighten($brand, 8%)};
  --brand-130: #{lighten($brand, 6%)};
  --brand-160: #{lighten($brand, 4%)};
  --brand-200: #{lighten($brand, 3%)};
  --brand-230: #{lighten($brand, 2%)};
  --brand-260: #{lighten($brand, 1%)};
  --brand-300: #{$brand};
  --brand-330: #{darken($brand, 2%)};
  --brand-360: #{darken($brand, 4%)};
  --brand-400: #{darken($brand, 6%)};
  --brand-430: #{darken($brand, 8%)};
  --brand-460: #{darken($brand, 10%)};
  --brand-500: #{$brand} !important;
  --brand-530: #{darken($brand, 12%)};
  --brand-560: #{darken($brand, 14%)};
  --brand-600: #{darken($brand, 16%)};
  --brand-630: #{darken($brand, 18%)};
  --brand-660: #{darken($brand, 20%)};
  --brand-700: #{darken($brand, 22%)};
  --brand-730: #{darken($brand, 24%)};
  --brand-760: #{darken($brand, 26%)};
  --brand-800: #{darken($brand, 28%)};
  --brand-830: #{darken($brand, 30%)};
  --brand-860: #{darken($brand, 32%)};
  --brand-900: #{darken($brand, 34%)};

  --brand-05a: #{adjust-color($brand, $alpha: -0.95)};
  --brand-10a: #{adjust-color($brand, $alpha: -0.9)};
  --brand-15a: #{adjust-color($brand, $alpha: -0.85)};
  --brand-20a: #{adjust-color($brand, $alpha: -0.8)};
  --brand-25a: #{adjust-color($brand, $alpha: -0.75)};
  --brand-30a: #{adjust-color($brand, $alpha: -0.7)};
  --brand-35a: #{adjust-color($brand, $alpha: -0.65)};
  --brand-40a: #{adjust-color($brand, $alpha: -0.6)};
  --brand-45a: #{adjust-color($brand, $alpha: -0.55)};
  --brand-50a: #{adjust-color($brand, $alpha: -0.5)};
  --brand-55a: #{adjust-color($brand, $alpha: -0.45)};
  --brand-60a: #{adjust-color($brand, $alpha: -0.4)};
  --brand-65a: #{adjust-color($brand, $alpha: -0.35)};
  --brand-70a: #{adjust-color($brand, $alpha: -0.3)};
  --brand-75a: #{adjust-color($brand, $alpha: -0.25)};
  --brand-80a: #{adjust-color($brand, $alpha: -0.2)};
  --brand-85a: #{adjust-color($brand, $alpha: -0.15)};
  --brand-90a: #{adjust-color($brand, $alpha: -0.1)};
  --brand-95a: #{adjust-color($brand, $alpha: -0.05)};

  --__header-bar-background: #{$mantle} !important;

  --text-default: #{$text};
  --text-muted: #{$subtext0} !important;
  --text-link: #{$blue} !important;
  --text-brand: #{$brand};
  --text-strong: #{$text} !important;
  --text-subtle: #{$subtext1};

  --text-feedback-positive: #{$green};
  --text-feedback-critical: #{$red};
  --text-feedback-warning: #{$yellow};
  --text-feedback-info: #{$blue};

  --message-reacted-background-default: #{adjust-color($brand, $alpha: -0.8)} !important;
  --message-reacted-text-default: #{$brand};

  --opacity-blurple-8: #{adjust-color($brand, $alpha: -0.92)};
  --opacity-blurple-16: #{adjust-color($brand, $alpha: -0.88)};
  --opacity-blurple-24: #{adjust-color($brand, $alpha: -0.84)};
  --opacity-blurple-32: #{adjust-color($brand, $alpha: -0.8)};
  --opacity-blurple-60: #{adjust-color($brand, $alpha: -0.5)};
  --blurple-50: #{$brand};
  --blurple-60: #{darken($brand, 10%)};

  --app-frame-background: #{darken($crust, 3%)};

  --background-secondary-alt: #{darken($base, 2%)} !important;
  --background-accent: #{$surface1} !important;
  --background-surface-highest: #{$surface0} !important;
  --background-surface-higher: #{darken($surface0, 2%)} !important;
  --background-surface-high: #{$base} !important;

  --background-base-lowest: #{$crust} !important;
  --background-base-lower: #{$mantle} !important;
  --background-base-low: #{darken($base, 2%)} !important;

  --chat-background: #{$base};
  --chat-background-default: #{$base};

  --chat-border: #{$crust};
  --chat-text-muted: #{$subtext0};

  --checkbox-icon-active: #{$crust};
  --checkbox-border-default: #{$overlay0};

  --radio-thumb-background-active: #{$crust};

  --border-muted: #{$surface0};
  --border-strong: #{$mantle};
  --border-normal: #{$crust};
  --border-subtle: #{$base} !important;

  --background-mod-muted: #{adjust-color($surface2, $alpha: -0.9)};
  --background-mod-normal: #{adjust-color($surface2, $alpha: -0.85)};
  --background-mod-subtle: #{adjust-color($surface2, $alpha: -0.8)} !important;
  --background-mod-strong: #{adjust-color($surface2, $alpha: -0.7)} !important;

  --background-feedback-positive: #{adjust-color($green, $alpha: -0.9)};
  --icon-feedback-positive: #{$green};

  --background-feedback-warning: #{adjust-color($yellow, $alpha: -0.9)};
  --icon-feedback-warning: #{$yellow};

  --background-feedback-critical: #{adjust-color($red, $alpha: -0.9)};
  --icon-feedback-critical: #{$red};

  --background-feedback-info: #{adjust-color($sky, $alpha: -0.9)};
  --icon-feedback-info: #{$sky};

  --status-positive: #{$green};
  --status-warning: #{$yellow};
  --status-danger: #{$red};

  --primary-100: #{$subtext1};
  --primary-200: #{$subtext0};
  --primary-300: #{$subtext1};
  --primary-400: #{$subtext1};
  --primary-630: #{$surface0};
  --primary-700: #{$surface1};
  --primary-800: #{$crust};

  --white: #{$text};
  --white-500: #{$text};

  --control-primary-background-default: #{$brand};
  --control-primary-background-hover: #{darken($brand, 6%)};
  --control-primary-background-active: #{darken($brand, 10%)};

  --control-secondary-background-default: #{$surface1} !important;
  --control-secondary-background-hover: #{darken($surface1, 6%)};
  --control-secondary-background-active: #{darken($surface1, 10%)};
  --control-secondary-border-default: #{$surface0};
  --control-secondary-text-default: #{$text} !important;

  --scrollbar-thin-thumb: #{$brand};
  --scrollbar-auto-thumb: #{$brand};
  --scrollbar-auto-track: #{$crust};

  --input-background-default: #{$crust};
  --input-text-default: #{$text};
  --input-border-default: #{$overlay0};

  --mention-background: #{adjust-color($brand, $alpha: -0.75)};

  --message-highlight-background-default: #{adjust-color($brand, $alpha: -0.92)};
  --message-highlight-background-hover: #{adjust-color($brand, $alpha: -0.94)};

  --interactive-background-hover: #{adjust-color($overlay2, $alpha: -0.9)};
  --interactive-background-selected: #{adjust-color($overlay0, $alpha: -0.85)};
  --interactive-background-active: #{adjust-color($text, $alpha: -0.85)};

  --interactive-icon-default: #{$text} !important;
  --interactive-text-default: #{$text} !important;

  --text-status-online: #{$green};
  --text-status-idle: #{$yellow};
  --text-status-dnd: #{$red};
  --text-status-offline: #{$subtext1};

  --icon-status-online: #{$green};
  --icon-status-idle: #{$yellow};
  --icon-status-dnd: #{$red};
  --icon-status-offline: #{$subtext1};

  ::selection {
    background-color: #{rgba($brand, 0.4)};
  }
}